body {
            background-color: lightgray;
            font-family: Arial, sans-serif;
        }
        h1 {
            color: red;
            font-size: 4em;
        }
       #hello {
            color: blue;
            font-size: 3em;
        }
        p {
            color: rgb(73, 207, 73);
            font-size: 2em;
        }
        p.high {
            background-color: rgb(162, 255, 0);
            font-weight: bold;
            color:brown
        }